@media (prefers-color-scheme: light) {
  .socials {
    .banner {
        filter: invert(100);
    }
    .stacks {
        img {
            filter: invert(100);
        }
    }
    .hero-primary {
        background-color: var(--foreground);
        color: var(--color-white);
    }
    .discord-btn {
        background-color: rgb(75, 39, 255);
        color: var(--color-white);
    }
  }
}
.socials {
    max-width: 500px;
    .banner {
        overflow: hidden;
        max-height: 130px;
        width: 100%;
        object-fit: cover;
    }
    .stacks {
        img {
            width: 2rem;
        }
    }
    p {
        font-family: var(--font-jetbrains-mono);
    }
    li {
        transition: .2s;
        &:hover {
            transform: scale(1.05);
        }
        &:active {
            transform: scale(0.95);
        }
    }
    .server-pic {
        width:4rem;
        height: 4rem;
    }
}