.navigation {
   padding: 1rem;
   nav {
    width: 70%;
   }
    .explore-mobile {
        display: none;
    }
   .nav-btn {
    color: var(--brand-color);
    font-size: var(--font-small);
    font-weight: bolder;
    transition: color 0.3s ease;
    padding: .5rem;
    button {
        color: var(--text-secondary);
        font-size: var(--font-small);  
    }
   }
   span {
    color: var(--accent-color);
   }
    .nav-menu {
        .menu {

            animation: baunce01 .2s ease ;
            padding: .8rem 2rem;
        }
        .nav-btn {
            transition: .2s;
            color: var(--text-secondary);
            button {
                color: var(--text-secondary);
                font-size: var(--font-small);
            }
            button:hover {
                span {
                    display: inline;
                }
            }
            span {
                display: none;
            }

        }
        .nav-btn:hover {
            span {
                animation: baunce02 .4s ease;
                display: inline;
            }
        }
    }
    .nav-menu:hover {
        opacity: 1;
    }
}
#modal-nav {
    position: fixed;
    z-index: 10;
    animation: slide-down .5s ease;
    ol {
        border: 1px solid var(--stroke-glass);
       padding: .8rem 2rem;
       -webkit-backdrop-filter: blur(5px);
       backdrop-filter: blur(5px);
       border-radius: 2rem;
       .nav-btn {
            text-align: center;
            width: 100%;
            transition: .2s;
            padding: .5rem 1rem;
            border-radius: 1.2rem;
            color: var(--text-secondary);
       }
        .nav-btn:hover {
            color: var(--text-tertiary);
            background-color: var(--material-white);
            span {
                animation: baunce02 .4s ease;
                display: inline;
            }
        }
    }
}
.navigation-secondary {
    width: 30%;
    padding: 1rem;
    border: 1px solid var(--stroke-glass-secondary);
    border-radius: 1rem;
    position: fixed;
    background-color: var(--background-secondary);
    bottom: .2rem;
    .glow {
        background-color: var(--gray-glass);
        text-decoration: underline;
        font-size: var(--font-small);
        color: var(--text-tertiary);
    }
    a {
        text-decoration: underline;
        color: var(--text-primary);
    }
    a:hover {
        color: var(--background);
        background-color: var(--text-primary);
    }
    p {
        padding-left: .5rem;
        border-top: 1px solid var(--stroke-glass-secondary); 
        color: var(--text-secondary);
    }
    nav {
        border-top: 1px solid var(--stroke-glass-secondary);
        padding-top: .5rem;
    }
    pre {
        font-size: var(--font-small);
        color: var(--gray-glass);
        line-height: 1;
    }
}
@media screen and (max-width: 968px) {
    .navigation {
        padding: 1rem;
        nav {
            width: 100%;
        }
        .menu {
            display: none;
        }
        .explore-mobile {
            display: inline;
        }
    }

}