#footer {
    margin-top: -1rem;
    background-color: var(--foreground);
    .banner {
        filter: invert(100);
    }
    .separator {
        width: 80%;
        height: 2px;
        border-top: 1px dashed var(--background);
    }
}