#about {
    background-color: var(--color-red-500);
    margin-bottom: -15rem;
    h1 {
        font-family: var(--font-Handjet);
        font-size: var(--super-large-text-secondary);
        color: var(--text-white);
    }
    .card {
        margin-top: -10rem;
        background-color: var(--background);
        max-width: 550px;
        h1 {
            font-family: var(--font-Chakra);
            font-size: var(--large-text);
            color: var(--text-white);
        }
        h3 {
            font-size: var(--small-text);
            font-family: var(--font-jetbrains-mono);
            border-top: 1px solid rgba(128, 128, 128, 0.348);
            border-bottom: 1px solid rgba(128, 128, 128, 0.421);
        }
        .tech {
            font-family: var(--font-jetbrains-mono);
            padding: .2rem .8rem;
            border-radius: 2rem;
            color: rgba(128, 128, 128, 0.371);
            border: 1px solid rgba(128, 128, 128, 0.371);
        }
        .tech-2 {
            font-family: var(--font-jetbrains-mono);
            padding: .2rem .8rem;
            border-radius: 2rem;
            color: var(--background);
            background-color: #ffff;
            border: 1px solid rgba(128, 128, 128, 0.371);
        }
    }
}