.featured-project  {
    background-color: var(--foreground);
    padding: .4rem;
    cursor:context-menu;
    transition: .2s;
    img {width: 440px;  height: 250px; z-index: 2; background-color: var(--glass-foreground) ; border-radius: 1rem;}
    span {
        background-color: var(--color-emerald-300);
        color: black;
    }
    .container-text {
        margin-top: -.5rem;
        margin-left: -1rem;
        height: 100%;
        position: absolute;
        z-index: 5;
        line-height: 1;
    }
    div {
        margin-top: .8rem;
        transition: .2s;
        opacity: none;
        display: none;
        h1 {
            font-size: var(--large-text);
        }
    }
    &:hover {
        transform: scale(1.05);
        div {
            opacity: 1;
            display: block;
        }
    }
    &:active {
        transform: scale(0.92);
    }
}
.large-project {
    
    transform: scale(1.2);
    div {
        transition: .2s;
        display: none;
    }
}
.large-project:hover {
    transform: scale(1.25);
    div {
        display: block;
    }
}