#introduction {
    img {

        transition: .2s;
    }
    img:hover {
        transform: scale(0.92);
    }
    p {
        font-family: var(--font-jetbrains-mono);
        font-size: var(--aux-super-text);
    }
    span {
        background-color: var(--color-red-500);
    }
    h1 {
        font-size: var(--super-large-text);
        line-height: 1.2;
    }
}