
.project-container {
    .project {
        width: 480px;
        height: 310px;
        background-color: var(--foreground);
        transition: .2s;
        border-radius: 1rem;
        border: 2px solid var(--foreground);
        div {
            opacity: 0;
            transition: .2s;
        }
    }
    .scale-pj {
        scale: 1.1;
    }
    .project:hover {
        border: 2px dashed var(--accent-primary);
        div {
            opacity: 2;
        }
    }
    .project:active {
        transform: scale(.9);
    }


}