.bottombar-pc {
    color: var(--text-white);
    mix-blend-mode: difference;

    text-align: end;
    .infos {
        line-height: 1.2;
    }
    .control-center {
        width: 100%;
    }
    .nav-btn-panel {
        margin-top: -18rem;
        transition: .2s;
        &:hover {
            margin-top: 0;
            a {
                opacity: 0;
            }
        }
    }
    a {
        display: flex;
        transtion: .2s;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom: 1px solid var(--accent-primary);
        }
    }

}