section {
    background-color: var(--text-white);
    h1 {
        color: var(--text-white);
        font-size: var(--large-text);
        line-height: .8;
    }
    p {
        color: var(--text-gray);
    }
    button {
        width: 300px;
        padding: .5rem;
        border: 1px  dashed var(--background);
        p {
            transition: .2s;
        }
    }
    button {
        transition: .2s;
        &:hover {
            transform: scale(1.1);
            color: var(--text-white);
            background-color: var(--background);
            border: 1px dashed var(--accent-primary);
            p {
                transform: translateX(.5rem);
            }
            .banner {
                filter: invert(0);
            }
        }
    }
    button:active {
        transform: scale(.9);
    }
}