
#draw {
    input {
        appearance: none;
        background-color: var(--foreground);        
        padding: 1rem;
        max-width: 250px;
        border-radius: .5rem;
    }
    .result-section {
        max-width: 800px;
    }
    .results {
        appearance: none;
        background-color: var(--foreground);        
        padding: 1rem;
        width: 250px;
        border-radius: .5rem;
        text-align: center;
    }
    p {
        color: var(--text-gray);
        max-width: 780px;
    }
        button {
            padding:  1rem;
            border-radius: .2rem;
            border: 1px dashed var(--text-white);
            transition: .2s;
            color: var(--text-white);
        }
        button:active {
            transform: scale(.9);
        }
        button:hover {
            opacity: .8;
            color: var(--text-white);
        }
    form {
        button {
            padding:  1rem;
            border-radius: .2rem;
            color: var(--background);
            background-color: var(--text-white);
            transition: .2s;
        }
        button:active {
            transform: scale(.9);
        }
        button:hover {
            opacity: .8;
            color: var(--background);
        }
    }
    .banner-top {
        margin-top: -10rem;
        z-index: 10;
    }
}