@import url('../global.css');
@import url('../components/nav.css');
@import url('../themes/void.css');
@import url('../components/animations.css');
@import url('../components/loading_screens.css');

body {
    background-color: var(--background-main);
}

#introduction {
    height: 60vh;
    pre {
        margin-top: 40rem;
        line-height: 1;
        color: var(--text-bg);
        
    }
}
.void-transition {
    animation: moving-down 1s ease;
    border-bottom: 1px solid var(--material-stroke); 
    line-height: 1;
    margin-bottom: -45rem;
    margin-top: -20rem;
    color: var(--text-tertiary);
    position: relative;
    z-index: 15;
    font-weight: 700;
    font-family: Changa One, sans-serif;
    font-size: var(--font-brand);

}

#about {
    position: relative;
    z-index: 20;
    background-color: var(--material-black);
    .title-cards {
        margin-bottom: 5rem;
    }
    .about-cards {
        margin-bottom: 5rem;
        padding-top: 1rem;
    }
    .card-2 {
                max-width: 780px;
    }
    .card-3 {
                max-width: 70%;
    }
    .card-1 {
        max-height: 650px;
                max-width: 480px;
    }
    .card{
        z-index: 25;
        position:static;
        transition: .4s;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        background-color: var(--background-glass);
        border: 1px solid var(--stroke-glass);
        padding: .8rem 2rem;
        border-radius: 1.5rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        padding: 2rem;
        img {
            object-fit: cover;
            height: 345px;
            width: 100%;
        }
        h1 {
            color: var(--text-primary);
            font-weight: bolder;
            font-size: var(--font-medium);
        }
        p {
            line-height: 1.3;
            color: var(--text-secondary);
            margin-bottom: 1rem;
        }
        a {
            margin-top: .4rem;
            border-radius: .8rem;
            margin-bottom: .4rem;
            color: var(--text-tertiary);
            padding: .5rem 1rem;
            background-color: var(--material-white);
            font-weight: bolder;
        }
        .btn {
            margin-top: .6rem;
            margin-bottom: .5rem;
            color: var(--text-primary);
            padding: .8rem 2rem;
            background-color: var(--material-black);
            font-weight: bolder;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.295);
            border-radius: 1rem;
            transition: .2s;
            span {
                transition: .2s;
            }
        }
        .btn:hover {
            color: var(--text-quaternary);
            background-color: var(--material-white);
            font-weight: bolder;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13);
            border-radius: 1rem;
            padding: .8rem 3rem;

            span {
               margin-left: 2rem;
            }

        }
    }

    .hover-card {
        z-index: 25;
        position:static;
        transition: .2s;
        margin: 3rem;
        height: 200px;
        width:  400px;
        background-color: var(--background-glass);
        border: 1px solid var(--stroke-glass);
        padding: .8rem 2rem;
        border-radius: 2rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        padding: 1rem;
        overflow: hidden;
        img {
            margin-top: -25rem;
            width: 200%;
            height: 580px;
            filter: saturate(0);
            object-fit: cover;
            border-radius: 1rem;
        }
        .text-content {
            align-items: center;
            margin-left: -1rem;
            text-align: center;
            display: none;
            h1 {
                color: var(--text-primary);
                font-size: var(--font-medium);
                margin-bottom: .5rem;
                font-weight: bolder;
                line-height: .6;
            }
            p {
                max-width: 350px;
                color: var(--text-secondary);
                margin-bottom: 2rem;
            }
            a {
                color: var(--text-primary);
                transition: .2s;
                border: 1px solid var(--stroke-glass);
                background-color: var(--material-black);
                padding: .8rem 2rem;
                 border-radius: .8rem;
            }
            a:hover {
                color: var(--text-tertiary);
                background-color: var(--material-white);
                padding: .5rem 1rem;
            }
        }
    }
    .bg-tag {
        margin-bottom: .5rem;
        margin-top: .5rem;
        height: 50px;
        background-color: var(--material-white);
    }
    .tags {
        margin-bottom: .5rem;
        animation: rolling 10s infinite;
        .tag {
            margin-left: 1rem;
        }
    }
        .items {

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem 1rem 2rem;
             h2 {
                font-size: var(--font-default);
                font-weight: bolder;
                color: var(--text-primary);
             }
             p {
                color: var(--text-secondary);
             }
             button {
                transition: .2s;
                transform: rotate(180deg);
             }
             span {
                font-size: var(--font-default);
                font-weight: bolder;
                color: var(--text-primary);
             }
        }
        .items:hover {
            button {
                transform: rotate(90deg);
            }
        }      
}
#table {
    .background-glass {
        transition: .2s;
        height: 700px;
        margin: 1rem;
        max-width: 420px;
        background-color: var(--background-glass);
        border: 1px solid var(--stroke-glass);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-radius: 2rem;
        border-radius: 1rem;
    }
    .background-glass:hover {
        transform: scale(1.05);
    }
    .bg {
        border-radius: 1rem;
        background-color: var(--background-glass);
    }
    div {
        
        margin: 1rem;
        padding: 1rem;
    }
    h2 {
        padding: .2rem .5rem;
        font-size: var(--font-default);
        background-color: var(--material-white);
        color: var(--text-quaternary);
        font-weight: bolder;  
        border-radius: .5rem;
    }
    p {
        font-size: var(--font-extra-small);
        color: var(--text-secondary);
        font-weight: medium;
    }
    .tier-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

#featured {
        position: relative;
        z-index: 40;
    .btn {
        border-radius: 1rem;
        padding: .8rem 1rem;
        background-color: var(--material-white);
        transition: .2s;
    }
    .btn:hover {
        padding: .8rem 2rem;
    }
    .transition {
        margin-left: -2rem;
        margin-top: -1rem;
        transform: rotate(180deg);
        width: 100%;
    }
    .rolling-right {
        width: 600rem;
        animation: rolling-right infinite 20s;
        margin-bottom: 2rem;
    }
    .rolling-left {
        margin-left: -140rem;
        width: 600rem;
        animation: rolling-left infinite 20s;
        margin-bottom: 8rem;
    }
    .card {
        transition: .2s;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        padding: .5rem;
        width: 700px !important;
        height: 300px;
        border: 1px solid var(--stroke-glass);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-radius: 2rem;
        img{
            border: 1px solid var(--stroke-glass);
            border-radius: 2rem;
            width: 100%;
            height: 300px;
            object-fit: cover;
            filter: saturate(0) opacity(.5);
        }
        div {
            display: none;
            z-index: 12;
            position: fixed;
            padding: 1rem;
            bottom: 1rem;
            h2 {
                font-weight: bolder;
                color: var(--text-primary);
                font-size: var(--font-medium);
                line-height: 1;
            }
            p {
                max-width: 300px;
                margin-bottom: 3rem;
                color: var(--text-secondary);

            }
            a {
                transition: .2s;
                 border-radius: .8rem;
                padding: .8rem 1rem;
                background-color: var(--material-white);
                color: var(--text-tertiary);
            }
            a:hover {
                padding: .8rem 2rem;
            }
        }
    }
    .card:hover {
        div {
            display: inline;
        }
        img {
            filter: saturate(1) opacity(100);
            opacity: .5;
            filter: blur(5);
            -webkit-backdrop-filter: blur(10);
            backdrop-filter: blur(10);
        }
    }
}
footer {
        position: relative;
        z-index: 20;
        margin-top: -10rem;
        .transition {
            margin-bottom: -1rem;
            width: 150%;
            img {
                width: 100%;
            }
        }   
        .banner-contact {
            border-bottom: 1px solid var(--material-gray); 
            line-height: 1;
            margin-top: -10rem;
            margin-bottom: -16rem;
            color: var(--text-secondary);
            position: relative;
            z-index: 15;
            font-weight:800;
            font-family: "Anton SC", sans-serif;
            font-size: var(--font-brand);
        }
    .content {
        padding: 4rem;
        background-color: var(--material-black);
    }
    .content-links {
        margin-bottom: 5rem;
        min-width: 14%;
        padding: 1rem;
        background-color: var(--material-gray);
    }
    h2 {
        font-size: var(--font-medium);
        color: var(--text-primary);
        font-weight: bolder;  
    }
    p {
        font-size: var(--font-default);
        color: var(--text-quaternary);
        font-weight: medium;
    }
    a {
        font-size: var(--font-default);
        color: var(--text-secondary);
        font-weight: medium; 
    }
    a:hover {
        text-decoration: underline;
    }
    form {
        margin-bottom: 5rem;
        width: 500px;
        display: flex;
        padding: 1rem;
        input {
            width: 100%;
            font-weight: bolder;
            color: var(--text-primary);
            padding: .5rem 2rem;
            background-color: var(--material-gray);
            border: 1px solid var(--material-gray);
        }
        select {
            width: 100%;
            color: var(--text-primary);
            padding: .5rem 1.4rem;
            background-color: var(--material-gray);
            border: 1px solid var(--material-gray);   
        }
        textarea {
            height: 200px;
            width: 100%;
            min-width: 240px;
            color: var(--text-primary);
            padding: .5rem 1rem;
            background-color: var(--material-gray);
            border: 1px solid var(--material-gray-2);
        }
        input:focus {
            border: 1px solid var(--accent-color);
        }
        button {
            color: var(--text-tertiary);
            padding: .5rem 1rem;
            background-color: var(--material-white);
        }
    }
}
@media screen and (max-width: 968px) {
    .void-transition {
        margin-bottom: -13rem;
        margin-top: -7rem;
    }
        .mobile-txt {
            text-align: center;
        }
    #about {
        p {
            width: 100%;
        }
        .card-2 {
                    max-width: 480px;
        }
        .card-3 {
                    max-width: 60%;
        }
        .card-1 {
            width: 100%;
        }
        .card{
            padding: 2rem;
            img {
                object-fit: cover;
                height: 305px;
                width: 100%;
            }
        }     
    }
    #table {
        display: flex;
        flex-wrap: wrap;
        .background-glass {
                    max-width: 480px;
        }
    }
    #featured {
        .card {
            width: 400px !important;
            height: 250px;
        }
    }
}
@media screen and (max-width: 598px) {
    .void-transition {
        margin-bottom: -13rem;
        margin-top: -7rem;
    }
        .mobile-txt {
            text-align: center;
        }
    #about {
        .card-2 {
            width: 60%;
        }
        .card-1 {
            width: 60%;
        }
        .card{
                width: 60%;
            padding: 2rem;
            img {
                object-fit: cover;
                height: 205px;
                width: 100%;
            }
        }     
    }
    #table {
        display: flex;
        flex-wrap: wrap;
        .background-glass {
                width: 90%;
        }
    }
    #featured {
        .card {
            width: 250px !important;
            height: 150px;
        }
    }
}