@import url('../global.css');
@import url('../components/nav.css');
@import url('../themes/void.css');
@import url('../animations/main.css');
@import url('../components/loading_screens.css');

body {
    background-color: var(--background-secondary);
}
#homebrew {
    margin-top: 2rem;
    border-radius: 1rem;
    width: 30%;
    border: 1px solid var(--stroke-glass-secondary);
    p {
        padding: .5rem;
        color: var(--text-secondary);
    }
    h2 {
        color: var(--text-primary);
        font-weight: bolder;
    }
    a {
        margin: 1rem;
        transition: .2s;
        color: var(--text-primary);
        text-decoration: underline;
    }
    a:hover {
        background-color: var(--text-primary);
        color: var(--background-secondary);
    }
    span{
        color: var(--accent-color);
    }
    pre {
        color: var(--text-primary);
    }
}
.update-charts {
    border-radius: 1rem; 
    padding: 1rem;
}   
.changelogs {
    border-radius: .5rem;
    border: 1px solid var(--stroke-glass-secondary);
}

