

:root {
    --background-main: #0a0a0b;
    --background-secondary: #000000;

    --material-black: #060607;
    --material-stroke: #060607;
    --material-white: #efefff;
    --material-gray: #1212146e;

    --text-bg: #7c7a9b21;
    --text-primary: #f2eeee;
    --text-secondary: #c8c6eb81;
    --text-tertiary: #060607;
    --text-quaternary: #101013;

    --accent-color: #ff3e3e;
    --brand-color: #f0efffe0;

    --background-glass: rgba(0, 0, 0, 0.438);
    --stroke-glass: rgba(48, 48, 48, 0.338);
    --stroke-glass-secondary: rgba(255, 255, 255, 0.226);
    --gray-glass: #f0efffe0;

    --background-cards: #19191f;
    --stroke-cards: #19191f;

}

.jetbrains-mono {
    font-family: jetbrains-mono, monospace;
}
.pixelated-font {
   font-family: "Pixelify Sans", sans-serif;
}
.sphere {
    z-index: 41;
    border-radius: 50%;
    filter: blur(1200px);
    position: fixed;
    opacity: 0.7;
  pointer-events: none;   

}

.sphere1 {
    width: 500px;
    height: 500px;
    background: rgba(119, 61, 255, 0.159);
    top: 50%;
    left: 10%;
}

.sphere2 {
    width: 500px;
    height: 500px;
    background: rgba(78, 96, 255, 0.237);
    top: 10%;
    left: 50%;
}

.sphere3 {
    width: 350px;
    height: 350px;
    background: #3f2b976d;
    top: 70%;
    left: 80%;
}
