.secondary-bg {
    background-color: var(--foreground);
}
.how-pricing {
    margin-top: -.6rem;
    .whoami-banner  {
        margin-top: 2rem;
    }
}
.container-prices {
    margin-top: 10rem;
    div {
        background-color: var(--foreground);
        border-radius: .5rem;
        transition: .2s;
    }
    article {
        border-radius: 1rem;
        padding: 1rem;
        border: 1px solid var(--text-black);
        max-width: 325px;
        p {
            padding: 1rem;
            border-top: 1px solid var(--text-black);
        }
    }
}

    @media (min-width: 600px) {
    .container-prices {
        div {
            background-color: var(--foreground);
            border-radius: 1rem;
        }
        article {
            max-width: 315px;
        }
    }
    }