.stripes-row {
    margin-top: -3rem;
    height: 120vh;
    margin-bottom: -8.2rem;
    color: var(--background);
    background-color: var(--accent-primary);
    section {
        margin-top: -10rem;
        margin-bottom: -10rem;
        z-index: 8;
        position: relative;
    }
    div {
        text-shadow: 10px 0px 25px rgba(0, 0, 0, 0.451);
    }
    .bg-2 {
        background-color: var(--accent-primary);
    }
    p {
        font-size: var(--small-text);
        white-space: none;
        margin-left: 1rem;
        text-shadow: 10px 10px 55px rgba(0, 0, 0, 0.696);

    }
    .container-stripes {
        width: 8000px;
    }
    .globe {
        z-index: 2;
        position: relative;
        margin-bottom: -12rem;
    }
}