:root {
  --super-large-text: 18rem;
  --super-large-text-secondary: 6rem;

  /* vars de textp defai;t */
  --large-text: 4rem;
  --small-text: 1.2rem;
}





@media (max-width: 2968px) {
  :root {
    --footer-large-text: 25rem;
    --super-large-text: 20rem;
    --super-large-text-secondary: 6rem;

  }
  .nav-mobile {
    display: none;
  }
  .transition-primary {
    margin-bottom: -3rem;
    margin-top: 2rem;
  }
  .transition-tertiary {
    margin-top: 0;
  }
}
@media (max-width: 1968px) {
  :root {
    --footer-large-text: 16rem;
    --super-large-text: 16rem;
    --super-large-text-secondary: 6rem;

  }
  .nav-mobile {
    display: none;
  }
  .transition-tertiary {
    margin-top: 5rem;
  }
}
@media (max-width: 1868px) {
  :root {
    --footer-large-text: 14rem;
    --super-large-text-secondary: 14rem;
    --aux-super-text: 4rem;
    --super-large-text: 16rem;

    --large-text: 2rem;
    --small-text: 1rem;
  }
  #about {
      margin-bottom: -5rem;
  }
  .transition-negative {
      margin-bottom: -1rem;
      margin-top: 10rem;
  }
}
@media (max-width: 1568px) {
  :root {
    --footer-large-text: 11rem;
    --super-large-text-secondary: 4rem;
    --aux-super-text: 3rem;
    --super-large-text: 14rem;

    --large-text: 2rem;
    --small-text: 1rem;
  }

  #about {
      margin-bottom: -5rem;
  }
  .transition-negative {
      margin-bottom: -18rem;
      margin-top: 10rem;
  }
}
@media (max-width: 999px) {
  :root {
    --footer-large-text: 7rem;
    --super-large-text-secondary: 5rem;
    --aux-super-text: 5rem;
    --super-large-text: 10rem;

    --large-text: 2rem;
    --small-text: 1rem;
  }
  .transition-tertiary {
    margin-top: 5rem;
  }
  #about {
      margin-bottom: -5rem;
  }
  .transition-negative {
      margin-bottom: -18rem;
      margin-top: 10rem;
  }
  .nav-mobile {
    display: flex;
  }
  .nav-pc {
    display: none;
  }
  .large-project {
      transform: scale(1);
  }
}
@media (max-width: 668px) {
  :root {
    --footer-large-text: 4rem;
    --super-large-text-secondary: 3rem;
    --aux-super-text: .7rem;
    --super-large-text: 5rem;


    --large-text: 1.2rem;
    --small-text: .8rem;
  }
  .transition-negative {
      margin-bottom: 0rem;
  }
  #about {
      margin-bottom: -5rem;
  }
  #introduction {
      p {
        margin-bottom: -25rem;
      }
  }
  .featured-project  {
    img {width: 340px !important;  height: 180px !important; z-index: 2;}
  }
  .nav-pc {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
}
@media (max-width: 468px) {
  .transition-negative {
      margin-bottom: 0rem;
  }
  .footer {
    margin-top: 20rem !important;
  }
  .transition-primary {
    margin-bottom:  -.6rem;
    margin-top: -3rem;
  }
  .transition-negative {
      margin-bottom: -2rem;
      margin-top: 13rem;
  }
  .nav-pc {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
}

