:root {
  /* Main page colors */
  --background: #F2F0EF;
  --foreground: #000000;
  --textblack: #171717;
  --glass-foreground: #ffffff36;

  /*social media colors*/
  --s-background: #F2F0EF;
  --s-foreground: #171717;

  --stroke-glass: #ffffff0e;
  --background-code: #0000003a;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-textblack: var(--textblack);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #F2F0EF;
    --textblack: #F2F0EF;
    --glass-foreground: #ffffff21;
  }
  #landing {
    background-image: url(/assets/backgrounds/background.svg);
    background-size: cover;
  }
    .dashed-stroke {
        border-top: 1px dashed #ffffff48;
        border-bottom: 1px dashed #ffffff48;
    }
    .dashed-stroke-secondary {
        border-left: 1px dashed #ffffff48;
        border-right: 1px dashed #ffffff48;
    }
    .dashed-stroke-tertiary {
        border-left: 1px dashed #00000048;
        border-right: 1px dashed #00000048;
    }
    .nav-stroke {
            border-bottom: 1px solid #ffffff37;
    }
  .nav-mobile {
    background-color: var(--color-background);
  }
}
@media (prefers-color-scheme: light) {
  .filter-invert-image {
    filter: invert(100);
  }
  .nav-mobile {
    background-color: var(--color-background);
  }
    .dashed-stroke {
        border-top: 1px dashed #0000004d;
        border-bottom: 1px dashed #0000003d;
    }
    .dashed-stroke-secondary {
        border-left: 1px dashed #0000002a;
        border-right: 1px dashed #00000023;
    }
    .nav-stroke {
            border-bottom: 1px solid #ffffff37;
    }
    .dashed-stroke-tertiary {
        border-left: 1px dashed #ffffff17;
        border-right: 1px dashed #ffffff48;
    }

  :root {
    --s-background: #e2e2e213;
    --s-foreground: #f1f1f10c;

  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.no-select  {
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;
}