#footer {
    margin-top: -1rem;
    background-color: var(--foreground);
    .banner {
        filter: invert(100);
    }
    .separator {
        width: 80%;
        height: 2px;
        border-top: 1px dashed var(--background);
    }
    button {
        padding: .5rem;
        border: 1px  dashed var(--background);
        p {
            transition: .2s;
        }
    }
    button {
        transition: .2s;
        &:hover {
            transform: scale(1.1);
            color: var(--text-white);
            background-color: var(--background);
            border: 1px dashed var(--accent-primary);
            p {
                transform: translateX(.5rem);
            }
            .banner {
                filter: invert(0);
            }
        }
    }
    button:active {
        transform: scale(.9);
    }
}