.stripes-row {
    height: 80vh;
    margin-top: -20rem;
    margin-bottom: 10rem;
    color: var(--text-white);
    section {
        z-index: 8;
        position: relative;
    }
    div {
        text-shadow: 10px 0px 25px rgba(255, 236, 227, 0.451);
    }
    p {
        
        white-space: none;
        margin-left: 1rem;
        text-shadow: 10px 10px 55px rgba(0, 0, 0, 0.696);

    }
    .container-stripes {
        width: 8000px;
    }
    .globe {
        z-index: 2;
        position: relative;
        margin-bottom: -22rem;
    }
}