
@keyframes start {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
}

@keyframes flicker {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(2px, -2px);
    }
    60% {
        transform: translate(-2px, -2px);
    }
    80% {
        transform: translate(2px, 2px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes flickanim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        box-shadow: 6px 0 red, -4px 0 rgb(0, 255, 85);
        transform: translate(-2px, 2px);
    }
    40% {
        box-shadow: 6px 0 red, -4px 0 cyan;
        transform: translate(2px, -2px);
    }
    60% {
        box-shadow: 5px 0 red, -4px 0 rgb(255, 120, 153);
        transform: translate(-2px, -2px);
    }
    80% {
        transform: translate(2px, 2px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes move-rotate {
    0% {
        transform: rotate(0deg) translateY(0);
    }
    50% {
        transform: rotate(20deg) translateY(-1rem);
    }
    100% {
        transform: rotate(00deg) translateY(0);
    }
}
@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes move-up {
    0% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(-20rem);
    }
}
@keyframes text-glowing {
    0% {
            text-shadow: 2px 2px 20px var(--white-light);
    }
    50% {
            text-shadow: 2px 2px 50px var(--white-light);
    }
    100% {
            text-shadow: 2px 2px 20px var(--white-light);
    }
}

.floating-anim {
    animation: move-up ease-in-out;
    animation-timeline: view();
    animation-range: entry 30% cover 100%; 
}
.start {
    animation: start .5s ease;
}
.fade-show-anim {
    animation: fade-on ease-in-out;
    animation-timeline: view();
    animation-range: entry 5% cover 100%;
}
