.primary-button {
        padding: .6rem 1rem;
        border-radius: .2rem;
        background-color: var(--text-white);
        transition: .2s;
        color: var(--text-black);
    &:hover {
        background-color: var(--accent-primary);
        color: var(--background);
        animation: glitch .2s ease-in-out;
    }
}
.primary-button:active{
    transform: scale(.9);
}


/* Navigation Buttons for topbar*/

.nav-button-primary {
        padding: .5rem 1rem;
        transition: .2s;
        font-size: .8rem;
        &:hover {
            color: var(--accent-primary);
            text-decoration: line-through var(--accent-primary);
            font-weight: bold;
        }
}
.nav-button-secondary {
        padding: .1rem 1rem;
        width: 90px;
        border: 1px solid var(--foreground);
        a{
            position: relative;
            margin-left: -1.7rem;
            top: -.3rem;
            padding: .2rem 1rem;
            color: var(--text-black);
            background-color: var(--foreground);
        }
        &:hover {
            a {
                position: relative;
                margin-left: -1rem;
                top: 0rem;
                padding: .2rem 1rem;
                color: var(--background);
                background-color: var(--foreground);
            }
        }
}
.nav-button-secondary:active {
            transform: scale(0.9);
            a {
                position: relative;
                margin-left: -1rem;
                top: 0rem;
                padding: .2rem 1rem;
                color: var(--text-black);
                background-color: var(--foreground);
            }
}

.footer-button {
        padding: .5rem;
        border: 1px  dashed var(--background);
        p {
            transition: .2s;
        }
    }
.footer-button  {
        transition: .2s;
        &:hover {
            transform: scale(1.1);
            color: var(--text-white);
            background-color: var(--background);
            border: 1px dashed var(--accent-primary);
            p {
                transform: translateX(.5rem);
            }
            .banner {
                filter: invert(0);
            }
        }
    }
.footer-button:active {
        transform: scale(.9);
    }