@import "tailwindcss";

:root {

    --background: #000000;   
    --foreground: #ffffff;
    --foreground-secondary: #f6f6f6;

    --text-white: #ffffff;        
    --text-gray: #8e96a6;         
    --white-light: #b0b9c8;   
    --text-black: #000000;   
    --text-b: #51566029;

    --redirect: #572dff;

    --accent-primary: #ffdb79;    
    --accent-secondary: #efefef;  
    --accent-glow: #f9feff94; 

    --small-text: 1.5rem;
    --large-text: 16rem;
    --ultra-large-text: 15rem;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-erika: var(--font-erika-one);
  --font-jetbrains: var(--font-jetbrains-mono);
}
@media (min-width: 200px) {
  .project-container {
    .project {
        width: 280px;
        height: 180px;
    }
  }
  .small {
    transform: scale(1);
  }
  :root {
      --large-text: 3rem;
      --ultra-large-text: 3rem;
  }
  .mr-custom {
    margin-right: .5rem;
  }
  #about {
    max-width:  100%;
  }
}
@media (min-width: 300px) {
  .container-prices {
      article {
          max-width: 95%
      }
  }
  .project-container {
    .project {
        width: 280px;
        height: 180px;
    }
  }
  .small {
    transform: scale(1);
  }
  :root {
      --large-text: 6rem;
      --ultra-large-text: 6rem;
  }
  .mr-custom {
    margin-right: .5rem;
  }
  #about {
    max-width:  95%;
  }
}
@media (min-width: 700px) {
  #about {
    max-width:  65%;
  }
  :root {
      --large-text: 8rem;
      --small-text: .8rem; 
      --ultra-large-text: 8rem;
  }
  .mr-custom {
    margin-right: .5rem;
  }
  #about {
    max-width:  50%;
  }
}
@media (min-width: 1100px) {
  :root {
      --large-text: 9rem;
      --ultra-large-text: 9rem;
  }
  .mr-custom {
    margin-right: 3rem;
  }
}
@media (min-width: 1200px) {
  :root {
      --large-text: 9rem;
      --ultra-large-text: 9rem;
      --small-text: 1rem;
  }
  .mr-custom {
    margin-right: 5rem;
  }
  header {
    nav {
      transform: scale(0.8);
    }
  }
  .bottombar-pc {
    transform: scale(0.8);
  }
}
@media (min-width: 1300px) {
  :root {
      --large-text: 9rem;
      --ultra-large-text: 9rem;
      --small-text: 1rem;
  }
  header {
    nav {
      transform: scale(0.8);
    }
  }
  .bottombar-pc {
    transform: scale(0.8);
  }
  .mr-custom {
    margin-right: 5rem;
  }

}
@media (min-width: 1400px) {
  :root {
      --large-text: 14rem;
      --ultra-large-text: 14rem;
  }
  .mr-custom {
    margin-right: 15rem;
  }
  header {
    nav {
      transform: scale(1);
    }
  }
  .bottombar-pc {
    transform: scale(1);
  }
  .stripes-row {
    p {
      transform: scale(1);
    }
  }
}

body {
  background-size: cover;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.secondary-bg {
  background-color: var(--background-secondary);
}
.erika-font {
  font-family: var(--font-erika-one), sans-serif;
}

.jetbrains-font {
  font-family: var(--font-jetbrains-mono), monospace;
}


.title {
    font-size: var(--ultra-large-text);
    color: var(--text-white);
}
.title-secondary {
    font-size: var(--ultra-large-text);
    color: var(--text-black);
}
.margin-negative {
  margin-top: -10rem;
}

