.topbar-pc {
    color: var(--text-white);
    mix-blend-mode: difference;
    
    .infos {
        line-height: .5;
    }
    .control-center {
        width: 100%;
        color: var(--text-gray);
    }

}
#super-panel {
    p + a {
        color: var(--text-black);
    }
}